@import "./scss";

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: $body-font-family;
  font-weight: $body-font-weight;
  background-color: $body-bg-color;
  color: $body-color;
  line-height: $body-line-height;
}
